#mm_player_pool {
	margin-bottom: 10px;
	width: 342px;
}
#mm_matchup {
	overflow: hidden;
	width: 342px;
}
.mm_team {
	background: #e6e6e6;
	border-radius: 4px;
	float: left;
	height: 90px;
	padding: 5px;
	position: relative;
	width: 156px;
}
.mm_team.error {
	background: #FFCCC9;
}
.mm_team:first-child {
	margin-right: 10px;
}
.mm_team_name input {
	margin-bottom: 5px;
	padding: 5px;
	width: 144px;
}
.error_name .mm_team_name input {
	background: #FFCCC9;
	border-color: #FF928C;
}
.mm_team_players {
	height: 50px;
	left: 27px;
	position: absolute;
	width: 120px;
	z-index: 2;
}
.mm_drop_zone {
	left: 27px;
	position: absolute;
	top: 44px;
	z-index: 1;
}
.mm_drop_zone span {
	background: #ddd;
	border: 2px dashed #bbb;
	border-radius: 4px;
	color: #bbb;
	display: inline-block;
	font-size: 30px;
	height: 46px;
	line-height: 46px;
	margin-right: 10px;
	text-align: center;
	width: 46px;
}
.error_1 .mm_drop_zone span:first-child {
	background: #FFCCC9;
	border-color: #FF928C;
	color: #FF928C;
}
.error_2 .mm_drop_zone span {
	background: #FFCCC9;
	border-color: #FF928C;
	color: #FF928C;
}
.mm_team_players .player_img {
	margin: 0 10px 0 0;
}