/* Page Layout
---------------------------------*/
body {
	background: #E8EBEF url(../images/noise_f6f6f6.png) left top repeat;
	font-family: Helvetica,Arial,Verdana,sans-serif;
}
header[role=logo] {
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#000000 100%); /* W3C */
	border-bottom: 1px solid #aaa;
	-webkit-box-shadow:  0px 3px 4px 1px rgba(0, 0, 0, .2);
	box-shadow:  0px 3px 4px 1px rgba(0, 0, 0, .2);
	padding: 2px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

}
header[role=logo] h1 a {
	color: #ffc515;
	display: block;
	font-family: 'Luckiest Guy', georgia;
	font-size: 2.5em;
	font-weight: 400;
	line-height: 1em;
	padding-top: 7px;
	text-decoration: none;
}
header[role=logo] h1 {
	margin: 0 auto;
	width: 980px;
}
#content {
	background: #fff;
	border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
	margin: 70px auto 0;
	padding: 20px;
	width: 940px;
}
#content #main {
	float: left;
	margin-left: -10px;
	width: 588px;
}
#content #sidebar {
	float: left;
	margin-left: 20px;
	width: 342px;
}
/* Common
---------------------------------*/
header[role=component] h2 {
	clear: both;
	color: #2a2a2a;
	font-family: "Nunito", sans-serif;
	font-size: 1.5em;
	line-height: 1.5em;
	text-shadow: 0 1px 0 rgba(255, 197, 21, 1);
}
#main header[role=component] h2 {
	margin-left: 10px;
}
section.component {
	margin-bottom: 10px;
}
section:last-child {
	margin: 0;
}
h2 {
	font-family: "Nunito", sans-serif;
	font-size: 1.25em;
	font-weight: normal;
}
/* Series
---------------------------------*/
.series,
.series_details {
	border: 1px solid #969696;
	border-radius: 4px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
	float: left;
	margin-bottom: 10px;
	position: relative;
}
.series {
	margin-left: 10px;
}
.team {
	background: #fff;
	border-radius: 4px 0 0 4px;
	border-right: 1px solid #fff;
	float: left;
	overflow: hidden;
	width: 140px;
}
.team:nth-child(even) {
	border-left: 1px solid #969696;
	border-right: none;
	border-radius: 0 4px 4px 0;
}
.team h2 {
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 0 auto;
	text-align: center;
}
.team .wins {
	background: #e6e6e6;
	border-top: 1px solid #c1c1c1;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.team .wins em {
	color: #222;
	font-family: "Nunito", sans-serif;
	font-size: 1.75em;
	line-height: 1.125em;
	text-shadow: 0 2px 3px #666;
}
.team .wins span {
	font-family: arial;
	font-size: 3em;
	font-weight: bold;
	left: 0;
	line-height: 0.7em;
	opacity: 0.1;
	filter: alpha(opacity = 10);
	position: absolute;
	text-align: center;
	text-shadow: none;
	text-transform: uppercase;
	width: 100%;
}
.team .wins .controls {
	background: #000;
	border: 2px solid #fff;
	border-radius: 13px 13px 13px 13px;
	bottom: 3px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.75);
	height: 19px;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	position: absolute;
	right: 5px;
	text-align: center;
	-moz-transition: border-color 0.2s ease 0s;
	-webkit-transition: border-color 0.2s ease 0s;
	transition: border-color 0.2s ease 0s;
	width: 19px;
}
.team .wins b {
	color: #fff;
	cursor: pointer;
    display: block;	
	font-family: "Nunito", sans-serif;
	font-size: 17px;
	font-weight: bold;
    line-height: 17px;
    -moz-transition: color 0.2s ease 0s;
	-webkit-transition: color 0.2s ease 0s;
	transition: color 0.2s ease 0s;
    width: 19px;
}
.team .wins .controls:hover,
.team .wins b.plus:hover {
	border-color: #0c0;
	color: #0c0;
}
.team .wins b.minus:hover {
	color: #f00;
}
.log_link {
	left: -1px;
	position: absolute;
	top: -1px;
}
.log_link a {
	background: transparent;
	background-color: rgba(0,0,0,.1);
	border: 1px solid transparent;
	border-radius: 4px;
	display: block;
	height: 59px;
	-moz-transition: all 0.1s ease 0s;
	-webkit-transition: all 0.1s ease 0s;
	transition: all 0.1s ease 0.1s;
	width: 282px;

}
.log_link a:hover {
	background-color: rgba(0,0,0,0);
	border: 1px solid #aaa;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
/* Series Details
---------------------------------*/
.series_details {
	float: none;
	overflow: hidden;
}
.series_details .players .player_img {
	float: none;
	margin: 0 auto 9px;
}
.series_details.double .players .player_img {
	float: left;
	margin: 0 10px 9px;
}
section.series_log.series_log_modal {
	margin-bottom: 0
}
.series_log .series_log_head {
	background: #e6e6e6;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .5);
	position: relative;
}
.series_log.series_log_modal .winner,
.series_log.series_log_modal .date {
	width: 130px;
}
.series_log.series_log_modal .series_log_data {
	max-height: 192px;
	max-width: 284px;
	overflow-y: scroll;
}
/* Series Log
---------------------------------*/
.series_log {
	font-size: .9em;
}
.series_log .series_log_match:nth-child(even) {
	background: #E8EBEF;
}
.series_log .series_log_head {
	font-weight: bold;
}
.series_log .series_log_head,
.series_log .series_log_match {
	padding: 5px 0;
	overflow: hidden;
}
.series_log .rescinded div {
	text-decoration: line-through;
}
.series_log .series_log_head > div,
.series_log .series_log_match > div {
	float: left;
}
.series_log .winner,
.series_log .loser,
.series_log .time,
.series_log .date {
	width: 114px;
	text-align: center;
}
/* Player Club
---------------------------------*/
.players {
	overflow: hidden;
}
.player_img {
	border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2);
	display: block;
	float: left;
	height: 50px;
	margin: 3px;
	width: 50px;
}

/* Password  Prompt
---------------------------------*/
#password {
    background: #dcdcdc;
    border: 1px solid #969696;
	border-radius: 5px 5px 5px 5px;
	display: none;
	height: 106px;
	padding: 15px;
	position: absolute;
	width: 300px;
	z-index: 9999;
}
input {
	background: #f4f4f4;
	border-color: #808080 #bfbfbf #eaeaea;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
	color: #2A2A2A;
	display: block;
	font-family: Helvetica,Arial,Verdana,sans-serif;
	font-size: 18px;
	font-weight: bold;
	height: 22px;
	margin: 0 0 15px;
	outline: medium none;
	padding: 10px;
	width: 278px;
}
input.error {
	background: #fdd5d5;
	border: 1px solid #f00;
}
input[type=submit] {
	background: #ffd65e; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* W3C */
    border: 1px solid #D1A700;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset;
	color: #2A2A2A;
	height: 42px;
	padding: 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
	width: 300px;
}
input:last-child {
	margin: 0;
}
.btn {
	background: #ffd65e; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* W3C */
    border: 1px solid #D1A700;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset;
	color: #2A2A2A;
	cursor: pointer;
	font-family: Helvetica,Arial,Verdana,sans-serif;
	font-size: 18px;
	font-weight: bold;
	height: 42px;
	line-height: 42px;
	margin-top: 10px;
	padding: 0;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

[draggable] {
	cursor: move !important;
}